.navbar {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  color: white;
  z-index: 1000;
  margin-bottom: 50px;
  background-color: transparent;
  
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(5px);  
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  color: red;
  font-size: 18px;
}

/* Links */
.nav-links {
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 4px;
  list-style: none;
  border: 2px solid #1F1F1F;
  border-radius:5px ;
  background-color: #0F0F0F;
}

.nav-links a {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  background: #1A1A1A;
  transform: scale(1.05);
}

/* Active Link */
.nav-links a.active {
  background: #1A1A1A;
}

/* Icons */
.nav-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10%;
}


.ResponsiveSearch
{
  display:none;
}
.vetor-icon{
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: 7%;

}
.StreamVibe{
  color: white;
  font-family:cursive;
}

.darkMood{
  margin-right: 10%;
}

/* home */

.home{
  background-color: #141414;
  width: 100%;
  min-height: 100vh;
}

#root, .App {
  width: 100%;
  background: #141414;
}


.Navbarbackground{
  width:100%;
  height: 700px;
}



/* Experience Title */

.Experience{
  margin-top: -80px;
}
.Experience h1{
  color: white;
  font-size: 40px;
  font-family:fantasy;
}

.Experience p{
  color: #999999;
  font-size: 10px;
  line-height: 1.4;
}

.Experience button{
  color: #FFFFFF;
  background-color: #E50000;
  padding: 15px 20px;
  font-size: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
}

/* showing devices */

.devices{
  margin-top: 5%;
  text-align: left;
  /* margin-left: 10%; */
  padding: 0 10%;
}
.devicesHeader h2{
  color:white ;
  font-family: fantasy;
}

.devicesHeader p{
  color: #999999;
  font-size: 10px;
}

.devicesTypes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  margin-top: 5%;
  margin-right: 30px;
}

.card {
  /* background: #0F0F0F; */
  background: radial-gradient(
    circle at top right, 
    rgba(255, 0, 0, 0.05),
    transparent 50%
  );
  border: 1px solid #1F1F1F;
  border-radius: 12px;
  padding: 20px;
  color: white;
  transition: 0.3s;
  width: 270px;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-box {
  width: 40px;
  height: 40px;
  background: #141414;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.icon-box svg {
  color: red;
  font-size: 18px;
}

.card h3 {
  font-size: 16px;
  margin: 0;
}


.card p {
  font-size: 13px;
  color: #999999;
  margin-top: 10px;
  line-height: 1.4;
}

/* hover effect */
.card:hover {
  transform: translateY(-5px);
  border-color: #ff0000;
}

.card:hover .icon-box {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

/* FAQ */

.faq{
  margin-top: 120px;
  color: white;
  
}

.faq-details h2 {
  margin-bottom: 0px;
  text-align: left;
  margin-left: 10%;
  color: white;

}


.faq-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

.faq-row button{
  background-color: #E50000;
  border-radius: 8px;
  height: 30px;
  border: none;
  color: white;
}

.faq-row span {
  flex: 1;
  color: #999999;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10%;
}

.faq-row button {
  flex-shrink: 0;
  margin-right: 10%;
}

.faq-item {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  background-color: #141414;
  /* background: black; */
  padding: 15px;
  /* padding: 0px; */
  /* border-radius: 8px; */
}

.faq-item h4{
  padding-top: 10px;
  margin-top: 0px;
  
}

.faq-icon{
  padding-top: 10px;
  margin-left: auto;
}

.faq-number {
  background: #1F1F1F; 
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}

.Faq-Questions{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  column-gap: 40px;
  margin:5% 8% ;

}

.faq-item::after {
  content: " ";
  position: absolute;
  left:0%;
  bottom: 0;
  width: 80%;
  height: 1px;

  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1),
    red,
    rgba(255, 0, 0, 0.1)
  );
}

.faq-item:nth-child(4)::after,
.faq-item:nth-child(8)::after {
  display: none;
}


/* prices */

.Prices{
  color: white;
  text-align: left;
  margin: 10%;
  background-color: #1A1A1A;
}

.Prices span{
  font-size: 10px;
  color: #999999;
}

.prices-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

.selsctor-button{
  height: 40px;
  background-color: #0F0F0F;
  margin: 2px;
  border: 1px solid #262626;
  border-radius: 10px;
  transform: translateY(-35px);

}

.yearly-button{
  background-color: #0F0F0F;
  color: #999999;
  border: none;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.monthly-button{
  background-color: #1F1F1F;
  color: #FFFFFF;
  border: none;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
}

.prices-plan{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.plan{
  background-color: #1A1A1A;
  border: 1px solid #262626;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  color: white;
}

.plan p:first-child{
  font-weight: bold;
  font-size: 16px;
}

.prices-plan span{
  color: #999999;
  font-size: 10px;
  margin: 10px 0;
  

}

.plan p:nth-of-type(2) {
  font-size: 22px;
  margin: 15px 0;
}

.plan-buttons {
  display: flex;
  gap: 10px;
}


.trial {
  /* background: #141414; */
  background-color: #141414;
  border: 1px solid #262626;
  color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.choose {
  background: #E50000;
  border: none;
  color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* free-trail */

.freetarial-container{
  color: white;
  text-align: left;
  margin: 40px auto;   
  width: 80%;  
  margin-bottom: 100px;
  margin-top: 0;
  height: 180px;
  background-image: url("../Images/trailbackground.png") ;
  background-size: cover;       
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  align-items: center;    
  justify-content: flex-start; 
  padding-left: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid #262626;
  border-radius: 10px;

}

.freetarial-details {
  width: 100%;
  /* padding-left: 40px; */
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.freetarial-details h2 {
  margin: 0;
}
.freetarial-details span {
  font-size: 10px;
  color: #999999;
  margin-top: 0;

}

.freetarial-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.freetarial-row button {
  margin-left: auto; 
  margin-right: 40px;
  /* margin-bottom: 60px; */
  height: 30px;
  color: white;
  background-color: #E50000;
  font-size: 10px;
  border: none;
  border-radius: 5px;
}

/* Footer */

.footer{
  color: white;
  /* margin-top: 100px; */
  padding-top: 100px;
  padding: 30px;
  width: 100%;

}
.footer-container{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  /* margin-left: 5%;
  margin-right: 10%; */
    padding: 0 10%;

}

.footer-list{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 10px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.footer-list li:first-child {
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-list li {
  color: #aaa;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-list img {
  padding: 8px 10px;
  width: 20px;
  height: 20px;
  background-color: #1A1A1A;
  margin-right: 5px;
  border-radius: 5px;
}

.footer-list img:hover {
  background: #262626;
}

.footer-bottom {

  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #333;
  color: #777; 
  /* width: 80%; */
  font-size: 10px;
  /* margin-left: 5%;
  margin-right: 10%; */
  padding: 0 10%;

}

.footer-bottom p {
  margin: 0;
}
.footer-links {
  display: flex;
  gap: 20px;
  
}
.footer-links span{
  padding: 0 12px;
border-right: 1px solid #262626;
}

.footer-links span:last-child {
  border-right: none;
}

body {
  overflow-x: hidden;
  
}

/* FAQ */

.faq{
  margin-top: 120px;
  color: white;
  
}

.faq-details h2 {
  margin-bottom: 0px;
  text-align: left;
  margin-left: 10%;
  color: white;

}


.faq-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

.faq-row button{
  background-color: #E50000;
  border-radius: 8px;
  height: 30px;
  border: none;
  color: white;
}

.faq-row span {
  flex: 1;
  color: #999999;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10%;
}

.faq-row button {
  flex-shrink: 0;
  margin-right: 10%;
}

.faq-item {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
  background-color: #141414;
  /* background: black; */
  padding: 15px;
  /* padding: 0px; */
  /* border-radius: 8px; */
}

.faq-item h4{
  padding-top: 10px;
  margin-top: 0px;
  font-size: 15px;
}

.faq-icon{
  padding-top: 10px;
    margin-left: auto;
}

.faq-number {
  background: #1F1F1F; 
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: bold;
  min-width: 40px;
  text-align: center;
}

.Faq-Questions{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  column-gap: 40px;
  margin:5% 8% ;

}

.faq-item::after {
  content: " ";
  position: absolute;
  left:0%;
  bottom: 0;
  width: 80%;
  height: 1px;

  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.1),
    red,
    rgba(255, 0, 0, 0.1)
  );
}

.faq-item:nth-child(4)::after,
.faq-item:nth-child(8)::after {
  display: none;
}

/* Responsive */

@media (max-width: 600px) {
.nav-icons{
  display: none;
}

.nav-links{
  display: none;
}

.ResponsiveSearch{
  display: flex;
}

.ResponsiveSearch:hover{
  background-color: #262626;
}

/*faq */

.Faq-Questions {
  grid-template-columns: 1fr; 
  }

.footer {
  padding: 0px 0px 20px ;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  

}

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: flex-start;
  }
  .footer-links span:not(:last-child) {
  border-right: 1px solid #262626; 
  padding-right: 10px;
  margin-right: 10px;
}
}
