.subscription {
    padding-top: 80px;
    min-height: 100vh;
}

.plan-table{
    margin-top: 5%;
    text-align: left;
    padding: 0 10%;
}
.table-description h2 {
    color: white;
    font-family: inherit;

}
.table-description span {
    color: #999999;
    font-size: 10px;
}
.table-description{
    margin-bottom: 30px;
}
.table-container {
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #262626;
    background: #0F0F0F; 
    margin-bottom: 100px;
}

.my-table {
    border-collapse: collapse;
    
}
.my-table th{
    border: 1px solid #262626;
    padding: 10px;
    text-align: left;
    background-color: #0F0F0F;
}
.my-table td {
    border: 1px solid #262626;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    color: #999999;
}

.my-table span{
    background-color: #E50000;
    font-size: 12px;
}


.mobile-plan{
    display: none;
}
.mobile-only{
    display: none;
}
@media (max-width: 768px) {
    .table-container{
        display: none;
    }
/*    
.plan-tabs {
  display: flex;
  justify-content: space-between;
  background: #0F0F0F;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 20px;
}

.plan-tabs span {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #999;
  cursor: pointer;
}




.plan-card {
  background: #0F0F0F;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 20px;
}


.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.full {
  margin-bottom: 20px;
}


.label {
  color: #999;
  font-size: 13px;
  margin-bottom: 5px;
}

.plan-card p {
  margin: 0;
  font-size: 14px;
}

.plan-tabs span:hover{
    background-color: #1F1F1F;
    border-radius: 10px;
} */ 

.mobile-only{
    
    display: block;
    margin-bottom: 50px;
}

.plan-tabs {
  display: flex;
  justify-content: space-between;
  background: #0F0F0F;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 20px;
}

.plan-tabs span {
  flex: 1;
  text-align: center;
  padding: 10px;
  color: #999;
  cursor: pointer;
}
.plan-card {
  background: #0F0F0F;
  border: 1px solid #262626;
  border-radius: 12px;
  padding: 20px;
}


.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.full {
  margin-bottom: 20px;
}


.label {
  color: #999;
  font-size: 13px;
  margin-bottom: 5px;
}

.plan-card p {
  margin: 0;
  font-size: 14px;
}

.plan-tabs span:hover{
    background-color: #1F1F1F;
    border-radius: 10px;
}
}

